@import "colors";

body {
  font-family: sans-serif;
  background-color: $light-blue;
  margin: 0px;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
h1 {
  color: white;
  background-color: $dark-grey;
  text-align: center;
  padding: 18px;
  margin: 0px;
}
h2 {
  color: $dark-grey;
  text-align: center;
}
p {
  color: $dark-grey;
  font-family: sans-serif;
}

img{
  margin: 0 auto;
  display: block;
  min-height: 400px;
  max-height: 400px;
  border-radius: 10px;
}

button{
  border-radius: 15px;
  color: white;
  display: block;
  background-color: black;
  text-align: center;
  margin: 10px auto;
  border: 0px;
  height: 30px;
  font-size: 15px;
  width: 50%;

}

button:focus {outline:0;}
